# MediLink Admin Dashboard Environment Template
VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=medilink-98ace.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=medilink-98ace
VITE_FIREBASE_STORAGE_BUCKET=medilink-98ace.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=359982361079
VITE_FIREBASE_APP_ID=1:359982361079:web:8aff6326bc33da1c4a26f2
